{
  "app_name": "access-iq",
  "env_name": "dev",
  "account_id": "YOUR_AWS_ACCOUNT_ID",
  "user_name": "YOUR_ROLE_NAME/YOUR_USER",
  "region": "eu-west-2",
  "tags": {
    "Environment": "dev",
    "Project": "access-iq",
    "ManagedBy": "cdk",
    "CostCenter": "project"
  },
  "s3": {
    "removal_policy": "DESTROY"
  },
  "iam": {
    "external_bucket": "YOUR_EXTERNAL_BUCKET_NAME"
  }
}
